build/
out/
dist/
bin/
gen/
captures/
classes/
projectFilesBackup/
project.properties
.DS_Store
.idea
*.iml
*.iws
*.swp
.cxx
.gradle
.externalNativeBuild
local.properties
release.jks
../flurrykey.txt
../googlekey.txt
../google-services.json

.kotlin/sessions/*.salive
flurrykey.txt
googlekey.txt
**/__pycache__
