<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swordfish.lemuroid">

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <application
        android:name="com.swordfish.lemuroid.app.LemuroidApplication"
        android:allowBackup="true"
        android:label="@string/lemuroid_name"
        android:requestLegacyExternalStorage="true"
        android:isGame="true"
        android:icon="@mipmap/lemuroid_launcher"
        android:roundIcon="@mipmap/lemuroid_launcher_round"
        android:banner="@mipmap/ic_banner"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/LemuroidMaterialTheme">
        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swordfish.lemuroid.app.shared.game.ExternalGameLauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/LemuroidMaterialTheme.Game">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="lemuroid" android:host="${applicationId}" android:pathPattern="/play-game/id/.*"/>
            </intent-filter>
        </activity>

        <activity android:name="com.swordfish.lemuroid.app.mobile.feature.game.GameActivity"
            android:process=":game"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/LemuroidMaterialTheme.Game"/>

        <service android:name=".app.mobile.feature.game.GameService"
            android:process=":game" />

        <activity android:name="com.swordfish.lemuroid.app.mobile.feature.gamemenu.GameMenuActivity"
            android:process=":game"
            android:theme="@style/LemuroidMaterialTheme.Menu"/>

        <activity android:name="com.swordfish.lemuroid.app.shared.settings.StorageFrameworkPickerLauncher"
            android:theme="@style/LemuroidMaterialTheme.Invisible"/>

        <!-- Leanback activities -->
        <activity android:name=".app.tv.main.MainTVActivity"
            android:exported="true"
            android:theme="@style/LemuroidLeanbackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="lemuroid" android:host="${applicationId}" android:pathPattern="/open-leanback"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.tv.settings.TVSettingsActivity"
            android:theme="@style/LemuroidLeanbackPreferencesTheme" />

        <activity android:name=".app.tv.folderpicker.TVFolderPickerActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity android:name=".app.tv.folderpicker.TVFolderPickerLauncher" />

        <activity android:name=".app.tv.game.TVGameActivity"
            android:theme="@style/LemuroidMaterialTheme.Game"
            android:process=":game"/>

        <activity android:name=".app.tv.gamemenu.TVGameMenuActivity"
            android:theme="@style/LemuroidLeanbackPreferencesTheme"
            android:process=":game" />

        <activity android:name=".app.shared.gamecrash.GameCrashActivity"
            android:theme="@style/LemuroidMaterialTheme.Game" />

        <receiver android:name=".app.shared.library.LibraryIndexBroadcastReceiver"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>
