<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name="com.swordfish.lemuroid.app.LemuroidApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:icon="@mipmap/lemuroid_launcher"
        android:isGame="true"
        android:label="@string/lemuroid_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/lemuroid_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LemuroidMaterialTheme">
        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swordfish.lemuroid.app.shared.game.ExternalGameLauncherActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:theme="@style/LemuroidMaterialTheme.Game">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPattern="/play-game/id/.*"
                    android:scheme="lemuroid" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.game.GameActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:launchMode="singleInstance"
            android:process=":game"
            android:theme="@style/LemuroidMaterialTheme.Game" />

        <service
            android:name=".app.mobile.feature.game.GameService"
            android:foregroundServiceType="dataSync"
            android:process=":game" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.gamemenu.GameMenuActivity"
            android:process=":game"
            android:theme="@style/LemuroidMaterialTheme.Menu" />

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.input.GamePadBindingActivity"
            android:theme="@style/LemuroidMaterialTheme.Invisible" />

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.input.GamePadShortcutBindingActivity"
            android:theme="@style/LemuroidMaterialTheme.Invisible" />

        <activity
            android:name="com.swordfish.lemuroid.app.shared.settings.StorageFrameworkPickerLauncher"
            android:theme="@style/LemuroidMaterialTheme.Invisible" />

        <!-- Leanback activities -->
        <activity
            android:name=".app.tv.main.MainTVActivity"
            android:exported="true"
            android:theme="@style/LemuroidLeanbackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPattern="/open-leanback"
                    android:scheme="lemuroid" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.tv.settings.TVSettingsActivity"
            android:theme="@style/LemuroidLeanbackPreferencesTheme" />

        <activity
            android:name=".app.tv.folderpicker.TVFolderPickerActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />
        <activity android:name=".app.tv.folderpicker.TVFolderPickerLauncher" />

        <activity
            android:name=".app.tv.input.TVGamePadBindingActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".app.tv.game.TVGameActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:process=":game"
            android:theme="@style/LemuroidMaterialTheme.Game" />

        <activity
            android:name=".app.tv.gamemenu.TVGameMenuActivity"
            android:process=":game"
            android:theme="@style/LemuroidLeanbackPreferencesTheme" />

        <activity
            android:name=".app.tv.input.TVGamePadShortcutBindingActivity"
            android:process=":game"
            android:theme="@style/LemuroidLeanbackPreferencesTheme" />

        <activity
            android:name=".app.shared.gamecrash.GameCrashActivity"
            android:theme="@style/LemuroidMaterialTheme.Game" />

        <receiver android:name=".app.shared.library.LibraryIndexBroadcastReceiver" />
        <receiver android:name=".app.shared.library.CoreUpdateBroadcastReceiver" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>
