<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.swordfish.core.pcsx_rearmed">
    <dist:module
        dist:instant="false"
        dist:title="pcsx_rearmed">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
