<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordfish.core.stella">

    <application android:hasCode="false" />

    <dist:module
        dist:instant="false"
        dist:title="@string/core_name_stella">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
