<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordfish.lemuroid.ext">

    <application>
        <activity
            android:name="com.swordfish.lemuroid.ext.feature.savesync.ActivateGoogleDriveActivity"
            android:theme="@style/InvisibleTheme"/>
        <activity
            android:name="com.swordfish.lemuroid.ext.feature.donate.DonateActivity"
            android:theme="@style/RaisedFlatTheme"/>
        <activity
            android:name="com.swordfish.lemuroid.ext.feature.donate.TVDonateActivity"
            android:theme="@style/LeanbackTheme"/>
    </application>
</manifest>
