<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swordfish.lemuroid.ext"
    tools:ignore="MissingLeanbackLauncher,ImpliedTouchscreenHardware,MissingLeanbackSupport">

    <application>
        <activity
            android:name="com.swordfish.lemuroid.ext.feature.savesync.ActivateGoogleDriveActivity"
            android:theme="@style/InvisibleTheme"/>
    </application>
</manifest>
